worker_processes     auto;
worker_rlimit_nofile 1048575;
error_log /var/log/nginx/error.log warn;

events {
    worker_connections 1024;
    # NON-PROD-SAFE:{an optimization for serving many clients in each thread (esp. for Linux)}
    use                epoll;
    # NON-PROD-SAFE:{accept as many connections as possible, ideally requires more worker_processes}
    multi_accept       on;
    accept_mutex       off;
}

http {
    default_type application/octet-stream;

    include /etc/nginx/mime.types;
    include /etc/nginx/ruuuby/unsorted/buffers.nginx;
    include /etc/nginx/ruuuby/unsorted/http_performance.nginx;
    include /etc/nginx/ruuuby/caching/enable_files.nginx;
    include /etc/nginx/ruuuby/unsorted/timeouts.nginx;
    include /etc/nginx/ruuuby/unsorted/docker_dns_fix.nginx;

    add_header X-Frame-Options "";

    upstream docker_pgadmin {
        server service_pgadmin;
    }

    upstream docker_js {
        server service_js:8082;
    }

    upstream docker_rabbitmq {
        server service_rabbitmq:15674;
    }

    server {
        listen 80;
        listen 1339 reuseport;

        server_name localhost ruuuby.com www.ruuuby.com;

        #       __
        # |\ | / _` | |\ | \_/
        # | \| \__> | | \| / \
        location /nginx {
            stub_status on;
        }

        #       __   __   ___ ___  __
        #  /\  /__` /__` |__   |  /__`
        # /~~\ .__/ .__/ |___  |  .__/
        location /v/ {
            include   /etc/nginx/ruuuby/unsorted/cors.nginx;
            include   /etc/nginx/ruuuby/caching/disable.nginx;
            root      /;
            autoindex on;
        }

        #  __   __        __
        # |__) / _`  /\  |  \  |\/| | |\ |
        # |    \__> /~~\ |__/  |  | | | \|
        location /pgadmin4/ {
            proxy_pass http://docker_pgadmin;
            include    /etc/nginx/ruuuby/proxy_pass/pgadmin.nginx;
            #include          /etc/nginx/ruuuby/unsorted/cors.nginx;
            #add_header       X-Frame-Options "";
            #proxy_set_header X-Frame-Options "";
            #proxy_set_header X-Script-Name /pgadmin4;
        }
    }

    server {
        listen 8082 reuseport;

        #                      __   __   __     __  ___
        #    |  /\  \  /  /\  /__` /  ` |__) | |__)  |
        # \__/ /~~\  \/  /~~\ .__/ \__, |  \ | |     |
        location / {
            proxy_pass http://docker_js;
            include    /etc/nginx/ruuuby/proxy_pass/default.nginx;
        }
    }

    server {
        listen 15674 reuseport;

        #  __        __   __    ___        __
        # |__)  /\  |__) |__) |  |   |\/| /  \
        # |  \ /~~\ |__) |__) |  |   |  | \__X
        location / {
            proxy_pass http://docker_rabbitmq;
            include    /etc/nginx/ruuuby/proxy_pass/rabbitmq.nginx;
        }
    }

}